@import "tailwindcss";



:root {
  --dark-blue: #001B48;
  --navy-blue: #02457A;
  --sky-blue: #018ABE;
  --light-blue: #C4E1FF;
  --light-gray: #CACACA;
  --white-color: #FFFFFF;
  --dark-color: #000000;
  --primary-color: #c4dff7;
  --secondary-color: #ebf2f8;
}

html, body {
  height: 100%;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */